main {
    max-width: 1040px;
    margin: 2.5rem auto;
    padding: 0 1rem;
}

.parallax-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 350px;
    background: linear-gradient(120deg, #c9ada7 0%, #4a4e69 100%);
    z-index: -1;
    will-change: transform;
    opacity: 0.14;
}